[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sklearn = "*"
jupyter = "*"
tensorflow = "*"
matplotlib = "*"
image = "*"
pillow = "*"

[requires]
python_version = "3.7"
